streamlit>=1.34
spacy>=3.7,<3.8
fr-core-news-md @ https://github.com/explosion/spacy-models/releases/download/fr_core_news_md-3.7.0/fr_core_news_md-3.7.0-py3-none-any.whl
numpy
pandas
matplotlib
wordcloud
networkx
pyvis
scipy
