yt-dlp
faster-whisper==1.0.3
openai-whisper
ctranslate2==4.6.0
tokenizers==0.15.2
huggingface_hub==0.24.6
numpy==1.26.4
opencv-python-headless==4.10.0.84
pandas==2.2.2
altair==5.3.0
streamlit==1.37.0
streamlit-autorefresh
scikit-learn==1.5.1
soundfile
plotly
Pillow
librosa
imageio-ffmpeg
redis
scipy
